# frozen_string_literal: true

require 'test_helper'

<% module_namespacing do -%>
class <%= class_name %>ExperimentTest < ActiveSupport::TestCase
  # test "the truth" do
  #   assert true
  # end
end
<% end -%>
