# frozen_string_literal: true

<% if namespaced? -%>
require_dependency "<%= namespaced_path %>/application_experiment"

<% end -%>
<% module_namespacing do -%>
class <%= class_name %>Experiment < ApplicationExperiment
<% variants.each do |variant| -%>
  def <%= variant %>_behavior
  end
<%= "\n" unless variant == variants.last -%>
<% end -%>
end
<% end -%>
